<div class="container">
  <div class="section-title">
    <h2>Publications</h2>
    <p>Selected Papers</p>
  </div>

  <!-- Visual Publication Entry 1 -->
  <div class="publication-entry" data-aos="fade-up">
    <div class="row">
      <div class="col-lg-3">
        <div class="paper-demo">
          <img src="assets/img/project/gan.jpg" alt="Paper Demo" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-9">
        <h3 class="paper-title"><a href="#" target="_blank">Robot Learning from Any Images</a></h3>
        <p class="authors">Siheng Zhao*, Jiageng Mao*, Wei Chow, Zeyu Shangguan, Tianheng Shi, Rong Xue, Yuxi Zheng, Yijia Weng, Yang You, Daniel Seita, Leonidas Guibas, Sergey Zakharov, Vitor Campagnolo Guizilini, Yue Wang</p>
        <p class="conference">CoRL 2025</p>
      </div>
    </div>
  </div>

  <!-- Visual Publication Entry 2 -->
  <div class="publication-entry" data-aos="fade-up" data-aos-delay="100">
    <div class="row">
      <div class="col-lg-3">
        <div class="paper-demo">
          <img src="assets/img/project/ml.jpg" alt="Paper Demo" class="img-fluid">
        </div>
      </div>
      <div class="col-lg-9">
        <h3 class="paper-title"><a href="#" target="_blank">ManipBench: Benchmarking Vision-Language Models for Low-Level Robot Manipulation</a></h3>
        <p class="authors">Enyu Zhao*, Vedant Raval*, Hejia Zhang*, Jiageng Mao, Zeyu Shangguan, Stefanos Nikolaidis, Yue Wang, Daniel Seita</p>
        <p class="conference">CoRL 2025</p>
        <p class="links"><a href="#" target="_blank">Webpage</a>, <a href="#" target="_blank">Paper</a></p>
      </div>
    </div>
  </div>

  <!-- Additional Publications List -->
  <div class="additional-publications" data-aos="fade-up" data-aos-delay="200">
    <h4>Additional Publications</h4>
    <ul class="publication-list">
      <li><strong>Computers & Security 2023</strong> - <a href="#" target="_blank">DroidRL: Feature selection for android malware detection with reinforcement learning</a> - Yinwei Wu, Meijin Li, Qi Zeng, Tao Yang, Junfeng Wang, Zhiyang Fang, Luyu Cheng</li>
      <li><strong>Applied Artificial Intelligence 2022</strong> - <a href="#" target="_blank">Deep Learning for Network Traffic Analysis</a> - Author1, Author2, Author3</li>
      <li><strong>arXiv 2024</strong> - <a href="#" target="_blank">Advanced Machine Learning Techniques</a> - Author1 et al.</li>
    </ul>
  </div>
</div>
